{% extends 'job/_job.jinja2' %}
{% import 'job/edit_advert.jinja2' as advert_macro%}

{% block body %}

    <div class="container-fluid">
        <div class="navbar navbar-light bg-light justify-content-between">
            <div class="container">
                <a class="navbar-brand" href="#">Create job</a>
            </div>
        </div>


        <form action="{{ url_for('create_job_post') }}" method="post">
            <div class="form-group">
                <label for="company_id">Company</label>
                <select class="form-control" id="company_id" name="company_id">
                    <option>... select a company</option>
                    {% for company in companies %}
                    <option value="{{ company._id }}">{{ company.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" name="description"></textarea>
            </div>

            <div class="row">
                <div class="col-5">
                    <div id="mapid" style="height: 300px"></div>
                </div>
                <div class="col-7">


                    <div class="form-group">
                        <label for="description" readonly>Latitude</label>
                        <input type="text" class="form-control" name="latitude" id="latitude">
                    </div>


                    <div class="form-group">
                        <label for="description" readonly>Longitude</label>
                        <input type="text" class="form-control" name="longitude" id="longitude">
                    </div>

                </div>
            </div>

            {{ advert_macro.add_advert() }}

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>

{% endblock body %}
