{% extends 'job/_base.jinja2' %}
{% from "_forms_helpers.jinja2" import render_submit %}

{% block body %}

    <div class="row">
        <div class="col offset-1">
            <div class="row">
                <div class="col-md-7">
                    <h1 class=" px-3 py-1 page-header mb-4">Create Job</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="offset-lg-1 col-lg-10 col-xl-8">
            <form action="{{ url_for('create_job_post') }}" method="post">

                {{ render_jobs_form_fields(
                    form,
                    form_type='create') }}

            </form>
        </div>
    </div>

{% endblock body %}
