{% macro add_advert() %}

    <div class="form-group">
        <label for="duration">Advert duration</label>
        <select class="form-control" id="duration" name="duration">
            <option selected>...select a duration</option>
            <option value="7">1 week</option>
            <option value="14">2 weeks</option>
            <option value="21">3 weeks</option>
            <option value="28">4 weeks</option>
            <option value="35">5 weeks</option>
        </select>
    </div>

{% endmacro %}


{% macro display_draft_advert(job_id, advert) %}

    <form action="{{ url_for('publish_advert_post', job_id=job_id, advert_id=advert._id) }}" method="post" >
        The advert is in DRAFT status -
        <button type="submit" class="btn btn-link" value="publish">Publish for {{ advert.duration }} days</button>
    </form>

{% endmacro %}


{% macro display_published_advert() %}

    The advert has been published

{% endmacro %}