{% extends 'job/_base.jinja2' %}
{% from "_forms_helpers.jinja2" import render_submit %}

{% block body %}

    <div class="row">
        <div class="col offset-1">
            <div class="row">
                <div class="col-md-7">
                    <h1 class=" px-3 py-1 page-header mb-4">Edit Job</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="offset-lg-1 col-lg-10 col-xl-8">
            <form action="{{ url_for('edit_job_post', job_id=job_id) }}" method="post">

                {{ render_jobs_form_fields(
                    form,
                    form_type='edit') }}

            </form>

            <br>
            <br>

            {% if advert['status'] == 'DRAFT' %}
                {{ display_draft_advert(job_id=job_id, advert=advert) }}
            {% elif advert['status'] == 'PUBLISHED'%}
                {{ display_published_advert() }}
            {% endif %}
        </div>
    </div>

{% endblock body %}
