{% extends '_main_base.jinja2' %}
{% from "common/_job_base.jinja2" import render_jobs_form_fields, search_postcode %}
{% from "admin/_job_base.jinja2" import render_advert as admin_render_advert %}
{% from "hm/_job_base.jinja2" import render_advert as hm_render_advert %}

{% block body %}

    <div class="row">
        <div class="col offset-1">
            <div class="row">
                <div class="col-md-7">
                    <h1 class=" px-3 py-1 page-header mb-4">Advert</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="offset-lg-1 col-lg-10 col-xl-8">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#" onclick="$('.job-tab').toggleClass('collapse');$('.nav-link').toggleClass('active');">Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="$('.job-tab').toggleClass('collapse');$('.nav-link').toggleClass('active');">Applications</a>
              </li>
            </ul>
            <br/>
        </div>


        <div class="offset-lg-1 col-lg-10 col-xl-8  job-tab">

            {{ admin_render_advert(job_id=job_id, advert=advert) }}

            <form action="{{ url_for(form_action, job_id=job_id) }}" method="post">

                {{ render_jobs_form_fields(
                    form,
                    form_type=form_type,
                    disable_hm_editing=disable_hm_editing,
                    marketing_website_url=marketing_website_url) }}

            </form>
        </div>
        <div class="offset-lg-1 col-lg-10 col-xl-8  job-tab collapse">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Email address</th>
                    <th scope="col">Years of experience</th>
                    <th scope="col" class="table-action -first">
                        <span class="d-none">Curriculum vitae</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                    {% if not candidates %}
                        <tr><td colspan="4">There are no applications</td></tr>
                    {% endif %}
                    {% for candidate in candidates %}
                        <tr>
                            <td>{{candidate['first_name']}} {{candidate['last_name']}}</td>
                            <td>{{candidate['phone_number']}}</td>
                            <td><a href="mailto:{{candidate['email']}}">{{candidate['email']}}</a></td>
                            <td>{{candidate['metadata']['years_experience']}}</td>
                            <td class="table-action -first ">
                            {% if candidate.metadata.cv %}
                                <a class="btn btn-goto" target="_blank"
                                   href="{{marketing_website_url}}/wp-content/uploads/pp-files/{{ candidate.metadata.cv }}">
                                    View CV
                                    <div class="chevron -yellow">&nbsp;</div>
                                </a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock body %}

{% block footer_scripts %}

    <script src="{{ url_for('static', filename='stripe.js') }}"></script>

    {{ search_postcode([form.latitude.value, form.longitude.value]) }}

#{% endblock %}
