{% extends '_main_base.jinja2' %}

{% block body %}

    <div class="">
        <div class="row">
            <div class="col offset-1">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class=" px-3 py-1 page-header mb-4">Users List</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1">

                <h3 class="my-4">Users List</h3>

                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Type</th>
                        <th scope="col" class="table-action -first">
                            <span class="d-none">Column with View and Edit button</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user._id }}</td>
                            <td>{{ user.type }}</td>
                            <td class="table-action -first">
                                <a class="btn btn-goto" href="{{ url_for('admin_user', user_id=user._id) }}">
                                    View or Edit details
                                    <div class="chevron -yellow">&nbsp;</div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock body %}
