{% extends '_base.jinja2' %}
{% from "_forms_helpers.jinja2" import render_field, render_submit %}

{% block body %}
    <div class="row">
        <div class="col offset-1">
            <div class="row">
                <div class="col-md-7">
                    <h1 class=" px-3 py-1 page-header mb-4">Create company</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="offset-lg-1 col-lg-10 col-xl-8">
            <form action="{{ url_for('create_company_post') }}" method="post">

                {{ form.csrf_token() }}

                {{ render_field(form.company_name) }}
                {{ render_field(form.company_description, rows="5") }}
                {{ render_field(form.trades) }}
{#                {{ render_field(form.company_logo) }}#}
                {{ render_field(form.company_vat) }}

                <h2>Company address</h2>

                {{ render_field(form.address_number) }}
                {{ render_field(form.address_street) }}
                {{ render_field(form.address_town) }}
                {{ render_field(form.address_city) }}
                {{ render_field(form.address_postcode) }}

                {{ render_submit("Add Company") }}

            </form>
        </div>
    </div>

{% endblock body %}