{% from "_forms_helpers.jinja2" import render_field, render_submit, render_selectfield, render_search_field %}

{% macro render_jobs_form_fields(form, form_type, disable_hm_editing=False, marketing_website_url="marketing_website_url") %}

    {{ form.csrf_token() }}

    {% if form_type=='create_admin' %}
        {{ render_selectfield(form.company_id) }}
    {% endif %}

    {{ render_field(form.title) }}
    {{ render_field(form.description, rows="5",
                    help_msg="For the public search Field on " + marketing_website_url) }}

    {{ get_location__by_postcode(form) }}
    <br>

    {{ render_selectfield(form.job_type) }}
    {{ render_field(form.job_duration_weeks) }}
    {{ render_selectfield(form.rate_type) }}
    {{ render_field(form.rate_value,
                    help_msg="For the public search field on " + marketing_website_url) }}

    <br><br>

    {% if form_type in ('create_admin', 'create_hr') %}
        {{ render_selectfield(form.duration) }}
    {% endif %}

    {% set cancel_url = url_for('jobs' if 'admin' in form_type else 'hr_company_jobs') %}
    {{ render_submit("Create job" if form_type == 'create' else "Save job", disable_hm_editing, cancel_url) }}

{% endmacro %}


{% macro get_location__by_postcode(form) %}

    {{ render_search_field(form.postcode, on_click='get_location_from_postcode()') }}

    <div class="row">
        <div class="col-5"></div>
        <div class="col-7">
            <div id="mapid" style="height: 300px"></div>
        </div>
        {{ form.latitude() }}
        {{ form.longitude() }}
        {{ form.admin_district() }}
    </div>

{% endmacro %}

{% macro search_postcode(initial_location) %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>

    <script>initJobLocationMap();</script>

{% endmacro %}
