<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Find a start</title>

    {#    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">#}
    <link href="https://findastart.palmerminto.com/wp-content/themes/understrap-child-master/css/find-a-start.css"
          rel="stylesheet">
</head>
<body>
<div class="recruitment-app-admin container-fluid -wrapper">

    <nav class="navbar navbar-admin navbar-expand-md">
        <div class="navbar-inner">
            <div class="row">
                <div class="col-md-2 brand">
                    <a href="{{ url_for('home') }}"><img
                            src="https://findastart.palmerminto.com/wp-content/uploads/2018/06/cropped-Find-a-Start-logo@2x.png"/><span
                            class="sr-only">Find a Start dashboard</span></a>
                </div>
                <div class="col-md-10 ">
                    <div class="collapse navbar-collapse" id="siteNavbar">
                        <ul class="navbar-nav mr-auto navbar-left navigation">
                            <!--li class="nav-item">
                                <a class="btn nav-link" href="{{ url_for('home') }}">Candidates</a>
                            </li-->
                            <li class="nav-item">
                                <a class="btn nav-link" href="{{ url_for('companies') }}">Companies <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="btn nav-link" href="{{ url_for('jobs') }}">Jobs</a>
                            </li>
                        </ul>
                        <div class="navbar-right profile">
                        <span class="d-block">
                            Logged in as: <span class="font-weight-bold">Vince Smith</span>
                        </span>
                            <div class="btn-toolbar mt-3 float-right" role="toolbar"
                                 aria-label="Toolbar with button groups">
                                <div class="btn-group mr-3 mb-2" role="group" aria-label="First group">
                                    <a class="btn btn-goto -orange" href="#" role="button">
                                        Logout
                                        <div class="chevron -yellow">&nbsp;</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNavbar"
                    aria-controls="siteNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <main role="main">
        <div class="p-4">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        Error: {{ messages | join(", ") }}
                    </div>
                {% endif %}
            {% endwith %}

            {% block body %}

            {% endblock body %}

        </div>
    </main>

    <footer class="container-fluid bg-dark admin-footer">
        <br/>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    {% block footer_scripts %}

    {% endblock %}

</div>
</body>
</html>
