{% macro render_field(field, bold_label=True) %}

    {% set label_font_weight = 'bold' if bold_label else 'normal'  %}

    <div class="form-group row">
        <div class="col-lg-5">
            {{ field.label(class='col-form-label font-weight-' + label_font_weight) }}
        </div>
        <div class="col-lg-7">
            {{ field(class='form-control', **kwargs)|safe }}
        </div>
        {{ _render_errors(field.errors) }}
    </div>

{% endmacro %}

{% macro render_search_field(field, on_click, search_label='Search') %}

    <div class="form-group row">
        <div class="col-lg-5">
            {{ field.label(class='col-form-label font-weight-bold') }}
        </div>
        <div class="col-lg-5">
            {{ field(class='form-control', **kwargs)|safe }}
        </div>
        <div class="col-lg-2">
             <a  class="btn btn-yellow triangle-outter"
                     onclick="{{ on_click }}">
                {{ search_label }}
             </a>
            <span class="triangle-inner"></span>
        </div>
        {{ _render_errors(field.errors) }}
    </div>

{% endmacro %}

{% macro render_selectfield(field) %}

    <div class="form-group row">
        <div class="col-lg-5">
            {{ field.label(class='col-form-label font-weight-bold') }}
        </div>
        <div class="col-lg-7 has-icon">
            {{ field(class='form-control', **kwargs)|safe }}
            <div class="form-icons select-icon"><div class="yellow-chevron">&nbsp;</div></div>
        </div>
        {{ _render_errors(field.errors) }}
    </div>

{% endmacro %}

{% macro render_submit(label) %}

    <div class="pull-right mt-4">
        <button class="btn btn-yellow triangle-outter" role="button">
            {{ label }} <span class="triangle-inner"></span>
        </button>
    </div>

{% endmacro %}

{% macro _render_errors(errors) %}

    {% if errors %}
        <div class="-invalid-feedback">
        {% for error in errors %}
            {{ error }}<br>
        {% endfor %}
        </div>
    {% endif %}

{% endmacro %}
