{% macro render_field(field, bold_label=True, help_msg=None) %}

    {% set label_font_weight = 'bold' if bold_label else 'normal'  %}

    <div class="form-group row">
        <div class="col-lg-5">
            {{ field.label(class='col-form-label font-weight-' + label_font_weight) }}
            {% if help_msg %}
            <small id="passwordHelpBlock" class="form-text text-muted">
              ({{ help_msg }})
            </small>
            {% endif %}
        </div>
        <div class="col-lg-7">
            {{ field(class='form-control', **kwargs)|safe }}
        </div>
        {{ _render_errors(field.errors) }}
    </div>

{% endmacro %}

{% macro render_search_field(field, on_click, search_label='Search') %}

    <div class="form-group row">
        <div class="col-lg-5">
            {{ field.label(class='col-form-label font-weight-bold') }}
        </div>
        <div class="col-lg-5">
            {{ field(class='form-control', **kwargs)|safe }}
        </div>
        <div class="col-lg-2">
             <a  class="btn btn-yellow triangle-outter"
                     onclick="{{ on_click }}">
                {{ search_label }}
             </a>
            <span class="triangle-inner"></span>
        </div>
        {{ _render_errors(field.errors) }}
    </div>

{% endmacro %}

{% macro render_selectfield(field, is_multiple=False) %}

    <div class="form-group row">
        <div class="col-lg-5">
            {{ field.label(class='col-form-label font-weight-bold') }}
        </div>
        <div class="col-lg-7 {{ '' if is_multiple else 'has-icon' }}">
            {{ field(class='form-control', **kwargs)|safe }}
            {% if not is_multiple %}
            <div class="form-icons select-icon"><div class="yellow-chevron">&nbsp;</div></div>
            {% endif %}
        </div>
        {{ _render_errors(field.errors) }}
    </div>

{% endmacro %}

{% macro render_submit(label=None, disabled=False, cancel_url=None, id="submit") %}

    <div class="pull-right mt-4">
        {% if cancel_url %}
        <a href="{{ cancel_url }}" class="btn btn-black" role="button">
            Cancel <span class="triangle-inner"></span>
        </a>
        &nbsp;
        {% endif %}

        {% if label %}
        <button id="{{ id }}" class="btn btn-yellow triangle-outter" role="button" {{ 'disabled' if disabled else '' }}>
            {{ label or "Submit" }} <span class="triangle-inner"></span>
        </button>
        {% endif %}
    </div>

{% endmacro %}

{% macro _render_errors(errors) %}

    {% if errors %}
        <div class="-invalid-feedback">
        {% for error in errors %}
            {{ error }}<br>
        {% endfor %}
        </div>
    {% endif %}

{% endmacro %}
