{% extends '_main_base.jinja2' %}

{% block body %}
    <div class="container">

        <h1>Sorry, there was a problem</h1>
        <h2>If the issue persists, please contact the administrators at <a href="mailto:admin@findastart.co.uk">admin@findastart.co.uk</a></h2>
        <h3>{{ error }}</h3>

    </div>
{% endblock %}