{% extends '_base.jinja2' %}

{% block body %}

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Hire manager List
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Admin List
        </a>
        <a href="/jobs" class="list-group-item list-group-item-action">
            Job List
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Settings
        </a>
    </div>

{% endblock body %}