{%  extends '_base.jinja2' %}

{% block body %}

    <ul class="list-group">
    {% for job in jobs %}
        <li class="list-group-item">{{ job.title }} -  {{ job.description }}</li>
    {% endfor %}
    </ul>

{% endblock body %}